body {
  width: 100%;
  min-width: 768px;
  /*background-color: #FAFAFA;*/
}

/*body.mockup {
  background-image: url(../images/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
}*/

body * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.landingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  /*background-color: #fcfffe;*/
}

/* mainSection */

.mainSection {
  position: relative;
  overflow: hidden;
  width: 1440px;
  height: 800px;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  margin-bottom: 27px;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
}

.mainSection.right,
.mainSection.center {
  color: white;
  /*background-color: #879696;*/
}

.mainSection.center {
 text-align: center;
}

/*section*/

.mainSection section {
  position: absolute;
  width: 480px;
  top: 190px;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.right section {
  right: 160px;
}

.mainSection.center section {
  width: 100%;
}

/* figure */
#pattern {
  width: 30px;
  height: 4px;
  background-color: rgba(88, 226, 194, 1);
  margin-top: 58px;
}

.mainSection.center footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 30px;
}

.mainSection.center section nav {
  margin-top: 58px;
}

.mainSection.center footer p {
  font-size: 16px;
  margin-bottom: 7px;
}

/* mockup */

.mockup {
  position: absolute;
	background-size: cover;
}

#mockup1 {
  width: 530px;
  height: 1200px;
  top: 231px;
  right: 168px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/content/about.png);
}

#mockup2_1 {
  width: 140px;
  height: 317px;
  top: 183px;
  left: 158px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  background-image: url(../images/content/about.png);
}

#mockup2_2 {
  width: 140px;
  height: 395px;
  top: 183px;
  left: 329px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  background-image: url(../images/content/works.png);
}

#mockup2_3 {
  width: 140px;
  height: 474px;
  top: 183px;
  left: 500px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  background-image: url(../images/content/work.png);
}

#mockup3 {
  width: 765px;
  height: 405px;
  top: 342px;
  right: 40px;
  background-image: url(../images/content/screens.png);
}

@media screen and (max-width: 1440px) {
  .landingWrapper {
    width: 100%;
  }
}


@media screen and (max-width: 1180px) {

  body.mockup {
    background-image: url(../images/mockups/1180_landscape.png);
    background-position: top center;
    background-repeat: no-repeat;
  }

  .mainSection {
    width: 1180px;
    height: 568px;
  }

  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 17px;
  }

  .mainSection p {
    font-size: 16px;
    line-height: 26px;
  }

  #pattern {
    height: 3px;
    width: 22px;
    margin-top: 42px;
  }

  .mainSection section {
    top: 135px;
  }

  .mainSection.left section {
    left: 197px;
  }

  .mainSection.right section {
    right: 54px;
    top: 138px;
  }

  .mainSection.center section nav {
    margin-top: 42px;
  }

  .mainSection.center footer {
    padding-bottom: 20px;
  }

  .mainSection.center footer p {
    margin-bottom: 5px;
    font-size: 13px;
  }


  #mockup1 {
    width: 371px;
    height: 839px;
    top: 164px;
    right: 197px;
    opacity: .5;
  }

  #mockup2_1 {
    width: 98px;
    height: 224px;
    top: 129px;
    left: 197px;
    opacity: .5;
  }

  #mockup2_2 {
    width: 96px;
    height: 280px;
    top: 129px;
    left: 320px;
    opacity: .5;
  }

  #mockup2_3 {
    width: 100px;
    height: 335px;
    top: 128px;
    left: 439px;
    opacity: .5;
  }

  #mockup3 {
    width: 522px;
    height: 282px;
    top: 226px;
    right: 124px;
    opacity: .5;
  }
}


@media screen and (max-width: 1179px) {

  body.mockup {
    background-image: url(../images/mockups/1180_portrait.png);
    background-repeat: no-repeat;
    background-position: top center;
  }

  .mainSection {
    width: 1179px;
    height: 568px;
  }

  .mainSection p {
    font-size: 21px;
    line-height: 36px;
    margin-top: 24px;
  }

  .mainSection h2 {
    font-size: 44px;
    line-height: 56px;
  }

  .mainSection.left section {
    margin: 53px 0 0 -160px;
  }
  .mainSection.right section {
    margin: 271px -23px 0 0;
  }

  /*.mainSection.center {
    margin: 0 78px;
  }

  .mainSection.center section {
    margin: 137px 0 0 9px;
  }
  .mainSection.center p {
    margin: 18px 0 0 -3px;
  }*/

  #pattern {
    margin: 42px 0;
    width: 25px;
    height: 3px;
  }

  #mockup1 {
    width: 530px;
    height: 1200px;
    top: 230px;
    right: 30px;
    opacity: .5;
  }

  #mockup2_1 {
    width: 140px;
    height: 317px;
    top: 183px;
    left: 158px;
  }

  #mockup2_2 {
    width: 140px;
    height: 395px;
    top: 183px;
    left: 329px;
  }

  #mockup2_3 {
    width: 140px;
    height: 474px;
    top: 183px;
    left: 500px;
  }

  #mockup3 {
    width: 765px;
    height: 405px;
    top: 342px;
    right: 40px;
  }
}

  @media screen and (max-width: 840px) {

    body.mockup {
      /*background-image: url(../images/mockups/840_landscape.png);*/
      background-position: top center;
      background-repeat: no-repeat;
    }

    .mainSection {
      width: 840px;
      height: 1024px;
    }

    .mainSection h2 {
      font-size: 30px;
      line-height: 39px;
    }

    .mainSection p {
      font-size: 16px;
      line-height: 26px;
    }

    .mainSection.left section {
      left: 150px;
    }
    .mainSection.right section {
      right: 12px;
    }

    .mainSection.center section {
      top: 187px;
    }

    .mainSection.center section nav {
      margin-top: 92px;
    }

    #mockup1 {
      width: 368px;
      height: 833px;
      top: 165px;
      right: 30px;
      opacity: .5;
    }

    #mockup2_1 {
      top: 456px;
      left: 175px;
      opacity: .5;
    }

    #mockup2_2 {
      top: 456px;
      left: 175px;
      opacity: .5;
    }

    #mockup2_3 {
      top: 456px;
      left: 348px;
      opacity: .5;
    }

    #mockup3 {
      top: 505px;
      right: 100px;
      opacity: .5;
    }
}

@media screen and (max-width: 839px) {

  .body.mockup {
    background-image: url(../images/mockups/840_portrait.png);
    background-position: top center;
    background-repeat: no-repeat;
  }

  .mainSection {
    width: 839px;
    height: 1024px;
  }

/*  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection p {
    font-size: 16px;
    line-height: 26px;
  }*/

  .mainSection.left section {
    left: 190px;
  }
  .mainSection.right section {
    right: 12px;
  }

  .mainSection.center section {
    top: 187px;
  }

  .mainSection.center section nav {
    margin-top: 92px;
  }

  #mockup1 {
    width: 368px;
    height: 833px;
    top: 165px;
    right: 30px;
    opacity: .5;
  }

  #mockup2_1 {
    top: 456px;
    left: 175px;
    opacity: .5;
  }

  #mockup2_2 {
    top: 456px;
    left: 175px;
    opacity: .5;
  }

  #mockup2_3 {
    width: 140px;
    height: 474px;
    top: 456px;
    left: 521px;
    opacity: .5;
  }

  #mockup3 {
    top: 505px;
    right: 100px;
    opacity: .5;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #mockup1 {
    background-image: url(../images/mockups/about@2x.png);
  }

  #mockup2_1 {
    background-image: url(../images/mockups/about@2x.png);
  }

  #mockup2_2 {
    background-image: url(../images/mockups/works@2x.png);
  }

  #mockup2_3 {
    background-image: url(../images/mockups/work@2x.png);
  }

  #mockup3 {
    background-image: url(../images/mockups/screens@2x.png);
  }
}
