body {
  background-color:  #FAFAFA;
}

body.mockup {
  /*background-image: url(../images/mockups/1440.png);*/
  background-repeat: no-repeat;
  background-position: top center;
}

body * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.full {
  display: block;
}

.compact {
  display: none;
}

.landingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0 rgba(0,0,0,.1);
}

/* mainSection */

.mainSection {
  position: relative;
  overflow: hidden;
  width: 1440px;
  height: 800px;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 55px;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 27px;
}

.mainSection.left {
  /*background-color: white;*/
}

.mainSection.right,
.mainSection.center {
  color: white;
  /*background-color: rgb(138, 149, 149);*/
}

/* section */
/*mainSection section {
  position: absolute;
}*/

.mainSection.left section {
  margin: 192px 0 0 160px;
}

.mainSection.right section {
  color: white;
  margin: 192px 0 0 800px;
}


/* figure */

#pattern {
  width: 30px;
  height: 4px;
  background-color: rgba(88, 226, 194, 1);
  margin: 58px 0 0 -1px;
}

.mainSection.left section figure {
  margin-top: 16px;
}

.mainSection.right section figure {
  margin-top: 53px;
}
/* center */
.mainSection.center {
 text-align: center;
}

.mainSection.center section {
  margin: 192px 0 0 2px;
  width: 100%;
}

.mainSection.center h2 {
 color: white;
 font-size: 44px;
 line-height: 54px;
}

.mainSection.center p {
 color: white;
 margin-top: 29px;
}


.mainSection.center footer {
  position: absolute;
  bottom: -7px;
  right: -2px;
  width: 100%;
  padding-bottom: 35px;
}

.mainSection.center footer p {
  font-size: 16px;
  margin-top: 20px;
}

/* mockup */

.mockup {
  display: block;
	background-size: cover;
}

.mockups.mockup {
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

.mockups {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 486px;
  height: 100%;
  margin: -306px 0 0 160px;
}

.mockup#mockup1 {
  width: 527px;
  height: 569px;
  margin: -301px 0 0 751px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/content/pic1.png);
}

.mockup#mockup2_3 {
  width: 141px;
  height: 478px;
  background-image: url(../images/content/pic2_1.png);
}

.mockup#mockup2_2 {
  width: 141px;
  height: 397px;
  background-image: url(../images/content/pic2_2.png);
}

.mockup#mockup2_1 {
  width: 140px;
  height: 318px;
  background-image: url(../images/content/pic2_3.png);
}

.mockup#mockup3 {
  width: 762px;
  height: 404px;
  margin: -157px 0 0 639px;
  background-image: url(../images/content/pic3.png);
}

.btns {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 94px;
  margin: 58px 0 0 -7px;
}

.social-likes_single-w {
  margin-top: 9px;
}

@media screen and (max-width: 1440px) {
  .landingWrapper {
    width: 100%;
  }
}


@media screen and (max-width: 1180px) {

  body.mockup {
    /*background-image: url(../images/mockups/1180_landscape.png);*/
    background-position: top center;
    background-repeat: no-repeat;
  }

  .mainSection {
    width: 1180px;
    height: 608px;
  }

  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 18px;
    }

  /* section */
  /*.mainSection section {
    top: 101px;
    width: 340px;
  }*/

  .mainSection.left section {
    margin: 191px 0 0 30px;
  }

  .mainSection.right section {
    margin: 192px 0 0 670px;
  }

  /* center */
  .mainSection.center {
    margin: 0 78px;
  }

  .mainSection.center section {
    margin: 192px 0 0 12px;
  }

  .mainSection.center h2 {
   /*color: white;*/
   font-size: 30px;
   line-height: 39px;
  }

  .mainSection.center p {
   /*color: white;*/
   margin-top: 25px;
  }

  #pattern {
    width: 22px;
    height: 3px;
    background-color: rgba(88, 226, 194, 1);
    margin: 15px 0 0 0;
  }

  .mainSection.left section figure {
    margin-top: 16px;
  }

  .mainSection.right section figure {
    margin-top: 53px;
  }

  .mockups {
    margin: -363px 0 0 30px;
  }

  .mockup#mockup1 {
    opacity: .5;
    margin: -358px 0 0 620px;
  }

  .mockup#mockup3 {
    opacity: .5;
    margin: -212px 0 0 508px;
  }
}


@media screen and (max-width: 1179px) {
  body.mockup {
    background-image: url(../images/mockups/1180_portrait.png);
    background-position: top center;
    background-repeat: no-repeat;
  }
  
  .full {
    display: none;
  }

  .compact {
    display: block;
  }

  .mainSection {
    width: 1179px;
    height: 608px;
  }

  .mainSection p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 18px;
  }
  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
  }
}
