.menubar {
  width: 100%;
}

.menubar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px;
}

.logo {
  display: block;
  width: 84px;
  height: 26px;
  background-image: url(../images/logo.svg);
}

@media screen and (max-width: 1179px) {
  .menubar div {
    padding: 13px;
  }

  .logo {
    width: 61px;
    height: 17px;
  }
}
